*{
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

/*estilos del menu*/

.menu{
  list-style: none;
  padding: 0;
  background: #092327;
  width: 100%;
  margin: 0%;  
}

.menu__ul__li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu__ul__li{
    display: inline-block;
    text-align: center;
}

.menu__ul__li a:hover{
    background: #ef8354;
}

/*estilos de hoja de vida*/

.tituloHV{
    text-align: center;
    background-color: darkgray;
    margin: 0%;
    padding-bottom: 5px;
}

.articulo__section__div{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;

}

.articulo__section__div__img{
    border: 5px solid black;
}
.articulo__section__div__linea{
    width: 90%;
    height: 3px;
    margin: 0 auto;
    background-color: black;
}

.articulo__section__divinfo{
    padding-left: 200px;
    margin: 20px;
}

.articulo__section__divinfo__ul{
    padding-left: 100px;
}

.articulo__section__divperfil{
    padding-left: 200px;
    margin: 20px;
}

.articulo__section__divperfil h2{
    margin-bottom: 5px;
}

.articulo__section__divperfil p{
    padding-left: 80px;
}

.articulo__section__divestudios{
    padding-left: 200px;
    margin: 20px;
}

.articulo__section__divestudios h4{
    margin-bottom: 5px;
    padding-left: 80px;
}

.articulo__section__divestudios ul{
    padding-left: 150px;
}

.articulo__section__divhobbies{
    padding-left: 200px;
    margin: 20px;
}

.articulo__section__divhobbies h2{
    margin-bottom: 5px;
}

.articulo__section__divhobbies ul{
    padding-left: 100px;
}

.articulo__section__footer{
    background-color: #092327;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

/*estilos sopa de letras*/

.table{
    border: 1px solid black;
}
.table_tr{
    padding: 30px; 
    text-align: center;
}

.table_tr_td{
    background: chocolate;
}

.div_palabras{
    display: inline-block;
    margin-right: 500px;
}

.div_palabras_ul{
    list-style: none;
}
.div_palabras_ul li:hover{
    background: slateblue;
}

.div_sopa{
    display: inline-block;
    margin-top: 50px;
}

.linea_sopa{
    width: 100%;
    height: 3px;
    margin: 0 auto;
    background-color: black;
}

.titulo_sopa{
    text-align: center;
}

/*estilos catalogo*/

.titulocatalogo{
    text-align: center;
    font-size: 40px;
}

.contenedorcard{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.contenedorcard .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.contenedorcard .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgbs(0,0,0,0.2);
}

.contenedorcard .card img{
    width: 330px;
    height: 220px;
}

.contenedorcard .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


