#menu2{
    position: fixed;
    width: 320px;
    left: -320px;
}

#menu2.active{
    left: 0;
}

#menu2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#item a{
     background: black;
     color: white;
     padding: 2px 22px;
     display: block;
    text-decoration: none;
}

#menu2 #desple{
    display: none;
}

#menu2 #item a:hover{
    background: orangered;
}

#menu2 #item:hover #desple{
    display: block;
}

#menu2 .toggle-btn{
    position: absolute;
    left: 320px;
    cursor: pointer;
}

#menu2 .toggle-btn span{
    display: block;
    text-align: center;
    font-size: 20px;
} 